trigger:
- master

pool: pool1
- task: CmdLine@2
  displayName: 'Run Tosca CI'
  inputs:
    script: '$(Agent.HomeDirectory)\\ToscaCI\\Client\\ToscaCIClient.exe -m distributed -t junit -r $(Agent.HomeDirectory)\\ToscaCI.xml'
    
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/ToscaCI*.xml'
    searchFolder: '$(Agent.HomeDirectory)'
    failTaskOnFailedTests: true
    testRunTitle: 'Publish ToscaCI Test Results'
