trigger:
- master

- task: CmdLine@2
  inputs:
    script: 'C:\Users\rahsh\Downloads\vsts-agent-win-x64-2.185.1\_workToscaCI\Client\ToscaCIClient.exe -m distributed -t junit -r C:\Users\rahsh\Downloads\vsts-agent-win-x64-2.185.1\ToscaCI.xml'
    workingDirectory: 'C:\Users\rahsh\Downloads\vsts-agent-win-x64-2.185.1'
    
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/TEST-*.xml'
    failTaskOnFailedTests: true
    testRunTitle: 'Publish ToscaCI Test Results'